/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 14, 2017, 5:31:56 PM
    Author     : Hùng Lưu (hungluu.com)
*/
.symbol-highlight {
    background: rgba(254, 255, 177, 0.99);
    padding: 0 1px;
}

.roushi-name {
  color: black;
  font-weight: bold;
}

.use-example {
  color: #428bca;
  border-bottom: dashed 1px #428bca;
}

.use-pronounce {
    color: black;
}

.use-translation {
    font-style: italic;
    color: #696969;
}

.chess-table {
}
.chess-row {
    display: block;
    border: solid 0px #333;
    border-right-width: 1px;
    float: left;
    clear: both;
}
.chess-row:first-child {
    border-top-width: 1px;
}
.chess-cell {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border: solid 0 #333;
    cursor: pointer;
    font-size: 20px;
}
.chess-cell {
    border-width: 0 0 1px 1px;
}
.chess-item-clicked {
    background: #069;
    color: white;
}
